.data-workspace {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 1rem;
}

.data-workspace h5 {
  margin: 0 0 0.5rem 0;
}

.data-workspace .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-workspace .monaco {
  height: calc(100% - 160px);
  border: 1px solid silver;
  border-radius: 2px;
}