.site-workspace {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 30px);
  padding: 1rem;
}

.site-workspace h5 {
  margin: 0 0 0.5rem 0;
}

.site-workspace .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-workspace .pages-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 0.5rem;
}

.site-workspace .monaco {  
  height: 200px;
  border: 1px solid silver;
  border-radius: 2px;
}
