.site-workspace {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 1rem;
}

h5 {
  margin: 0 0 0.5rem 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}