.nav {
    height: 100%;
    padding: 0.5rem;
}

.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid silver;
}

.save-button {
    text-align: center;
    border-top: 1px solid silver;
    padding: 0.5rem;
}